<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    
    <!--Log file path -->
    <add key="LOG_FILE_PATH" value="C:\Users\dmestry\Documents\Curl\TESTING\LOGS"/>
    
    <!-- Path of File from where List of URLs will be picked -->
    <add key="URL_FILE_PATH" value="C:\Users\dmestry\Documents\Curl\TESTING\URLLIST.txt"/>
    
    <!--Download path where files will be downlaoded -->
    <add key="DOWNLOAD_FILE_PATH" value="C:\Users\dmestry\Documents\Curl\TESTING"/>
    
    <!--FOR SFTP username -->
    <add key="USER_SFTP" value="tester"/>

    <!--FOR SFTP password -->
    <add key="PASSWORD_SFTP" value="password"/>
    
    <!--No of threads For Parallel Execution. Value can be specified in range 1-10.-->
    <add key="THREAD_COUNT" value="4"/>
    
  </appSettings>
</configuration>